/* App.css */

html,
body {
  height: 100%;
  margin: 0;
}

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: left;
}

.container {
  display: flex;
  flex: 1;
}

.defects-table-container {
  flex: 3;
  margin-right: 20px; /* Aggiungi spazio tra tabella e card */
  max-height: 650px; /* Imposta l'altezza massima della tabella */
  overflow-y: auto; /* Aggiungi scrollbar verticale se necessario */
  height: 930px; /* Altezza fissa per la tabella */
}

.defects-table {
  width: 100%;
  border-collapse: collapse;
}

.defects-table th,
.defects-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.defects-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.cards-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Spazio tra le card */
  margin-top: 80px; /* Sposta le card verso il basso di 80px */
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 300px; /* Altezza fissa per le card */
  position: relative;
}

.card h2 {
  margin-top: 0;
}

h1 {
  text-align: center;
  color: #333;
}
