_dataset/
server/inferences/test
server/inferences/output
server/inferences/tmp
server/inferences/processed
server/inferences/models
server/inferences/easyocr
server/inferences/models/scratches.onnx
server/post-processing/node_modules
server/backend/node_modules
server/backend/src/data
server/backend/src/images
node_modules
