_dataset/
client/inferences/test
client/inferences/output
client/inferences/processed
client/inferences/models
client/inferences/models/scratches.onnx
client/post-processing/node_modules
server/backend/node_modules
server/backend/src/data
server/backend/src/images
node_modules