_dataset/
/inferences/test
/inferences/output
/inferences/tmp
/inferences/processed
/inferences/models
/inferences/easyocr
/inferences/models/scratches.onnx
/post-processing/node_modules
/backend/node_modules
/backend/src/data
/backend/src/images
node_modules


# Exclude .DS_Store files in all directories
**/.DS_Store