/* DefectsTable.css */

/* DefectsTable.css */

.defects-table-container {
  width: 68vw;
  height: 89vh !important;
}

.defects-table {
  width: 100%;
  min-height: 70vh !important;
  border-collapse: collapse;
}

.defects-table th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.defects-table tr {
  padding: 8px;
  width: 180px;
}

.defects-table td:first-child {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 180px;
}
.defects-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.defects-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.thumbnail {
  width: 100px;
  height: auto;
  cursor: pointer;
}

.defects-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.defects-table th,
.defects-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  max-width: 130px !important;
}

.defects-table th {
  background-color: #f4f4f4;
  color: #333;
}

.defects-table td img {
  width: 130px;
  height: 130px;
  cursor: pointer;
}

.defects-table td {
  vertical-align: top;
}
