/* Contenitore della tabella */
.defects-table-container {
  width: 58vw;
  height: 830px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  overflow: hidden;
}

/* Stile della tabella */
.defects-table {
  width: 100%; /* Adatta la larghezza alla dimensione del contenitore */
  height: 100%; /* Occupa tutta l'altezza del contenitore */
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Intestazioni della tabella */
.defects-table thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 40px;
  background-color: #f4f4f4;
  z-index: 1;
}

/* Colonne della tabella */
.defects-table th {
}
.defects-table td {
  padding: 16px;
  border: 1px solid #ddd;
}

.defects-table td:first-child {
  width: 350px;
}

/* Colonna della tabella per le immagini */
.defects-table th.detection {
  width: 200px;
}

.defects-table th.details {
  width: 400px;
}

/* Corpo della tabella con scroll verticale */
.defects-table tbody {
  display: block;
  width: 1041px;
  font-size: 18px;
  height: calc(100% - 40px); /* Altezza totale meno altezza intestazioni */
  overflow-y: auto;
}

/* Righe della tabella */
.defects-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

/* Alternanza dei colori delle righe */
.defects-table tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Bianco per righe dispari */
}

.defects-table tbody tr:nth-child(even) {
  background-color: #f9f9f9; /* Grigio chiaro per righe pari */
}

/* Miniature */
.thumbnail {
  width: 150px;
  height: 150px;
  cursor: pointer;
  margin-left: 20px;
}
