.defects-table-container {
  width: 68vw;
  height: 89vh; /* Altezza della container */
  display: flex;
  flex-direction: column;
}

.defects-table {
  width: 100%;
  min-height: 80vh; /* Altezza minima della tabella */
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Scorrimento verticale per la tabella */
}

.defects-table th,
.defects-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.defects-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.defects-table td img {
  width: 130px;
  height: 130px;
  cursor: pointer;
}

.thumbnail {
  width: 100px;
  height: auto;
  cursor: pointer;
}
